In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/census.csv')

In [3]:
df = df.sample(1000)

In [4]:
df.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [5]:
df = df.drop(['workclass', 'final-weight','occupation','education','marital-status', 'final-weight','capital-gain','capital-loos','native-country'], axis=1)

In [6]:
df

,age,education-num,relationship,race,sex,hour-per-week,income
8521,61.0,6,Not-in-family,Black,Female,24,<=50K
10390,64.0,9,Husband,White,Male,40,<=50K
15854,22.0,10,Own-child,White,Male,98,<=50K
19214,41.0,13,Husband,White,Male,40,>50K
1500,37.0,13,Husband,White,Male,80,>50K
...,...,...,...,...,...,...,...
31502,42.0,11,Husband,White,Male,80,>50K
4994,39.0,13,Husband,White,Male,60,<=50K
26202,46.0,13,Husband,White,Male,60,>50K
12807,39.0,13,Not-in-family,White,Male,40,<=50K
20998,38.0,9,Husband,White,Male,20,<=50K

In [7]:
df.to_csv('amostra_census.csv')